@import 'easy-css/settings';

$app-color-white: #fff;
$app-color-alpha: #3eacff;
$app-color-alpha--dark: #0d97ff;
$app-color-beta: #1f567f;
$app-color-beta--dark: #184466;
$app-color-disabled: #bbb;

$form-border-radius: 5px;
$form-border-width: 1px;
$form-border-color: #444;
$form-border-style: solid;

$small-transition-time: 0.3s;
