@import 'easy-css/settings';

// Colors
$color-white: #fff;
$color-black: #000;
$color-grey: #eee;

// Spacing
$spacing-unit-xs: $ea-spacing-unit * 0.25;
$spacing-unit-sm: $ea-spacing-unit * 0.5;
$spacing-unit-lg: $ea-spacing-unit * 2;
