{
  "env": {
    "browser": true,
    "jest": true
  },
  "extends": "airbnb",
  "plugins": [
    "import",
    "jsx-a11y",
    "react"
  ],
  "rules": {
    "arrow-body-style": ["off"],
    "comma-dangle": ["off"],
    "linebreak-style": ["off"],
    "max-len": ["error", 125],
    "react/jsx-wrap-multilines": ["off"],
    "semi": ["error", "never"],
    "quotes": ["error", "single"],
    "jsx-a11y/anchor-is-valid": ["error", {
      "components": ["Link"],
      "specialLink": ["to"]
    }]
  },
  "settings": {
    "import/resolver": "webpack"
  }
}
