.c-button {
  padding: $ea-spacing-unit;
  border-width: 0;
  border-radius: $border-radius;

  cursor: pointer;
}

.c-button--small {
  padding: $ea-spacing-unit * 0.5;
}

.c-button:disabled {
  background-color: $background-color-disabled;

  cursor: not-allowed;
}

.c-button--alpha {
  background-color: $background-color--alpha;
  color: $color--alpha;
}

.c-button--alpha:hover:not(:disabled) {
  background-color: $background-color-hover--alpha;

  animation-name: hover--alpha;
  animation-duration: 0.3s;
}

.c-button--beta {
  background-color: $background-color--beta;
  color: $color--beta;
}

.c-button--beta:hover:not(:disabled) {
  background-color: $background-color-hover--beta;

  animation-name: hover--beta;
  animation-duration: 0.3s;
}

@keyframes hover--alpha {
  0% {
    background-color: $background-color--alpha;
  }
  100% {
    background-color: $background-color-hover--alpha;
  }
}

@keyframes hover--beta {
  0% {
    background-color: $background-color--beta;
  }
  100% {
    background-color: $background-color-hover--beta;
  }
}
