.c-button {
  padding: $ea-spacing-unit;
  border-width: 0;
  border-radius: $form-border-radius;

  cursor: pointer;
}

.c-button--small {
  padding: $ea-spacing-unit * 0.5;
}

.c-button:disabled {
  background-color: $app-color-disabled;

  cursor: not-allowed;
}

.c-button--alpha {
  background-color: $app-color-alpha;
  color: $app-color-white;
}

.c-button--alpha:hover:not(:disabled) {
  background-color: $app-color-alpha--dark;

  transition: background-color $small-transition-time;
}

.c-button--beta {
  background-color: $app-color-beta;
  color: $app-color-white;
}

.c-button--beta:hover:not(:disabled) {
  background-color: $app-color-beta--dark;

  transition: background-color $small-transition-time;
}
