$icon-size-sm: 24px;
$icon-size-md: 36px;
$icon-size-lg: 48px;

.c-icon {
  display: inline-block;
  vertical-align: middle;
  
  fill: currentColor;
}

.c-icon--sm {
  width: $icon-size-sm;
  height: $icon-size-sm;
}

.c-icon--md {
  width: $icon-size-md;
  height: $icon-size-md;
}

.c-icon--lg {
  width: $icon-size-lg;
  height: $icon-size-lg;
}
