$icon-button-color: #1465ae;
$icon-button-color-hover: #1347ae;

.c-icon-button {
  padding: $ea-spacing-unit * 0.5;
  border: 0;

  background-color: transparent;
  color: $icon-button-color;

  cursor: pointer;
}

.c-icon-button:hover {
  color: $icon-button-color-hover;
}
