.c-icon-button {
  padding: $ea-spacing-unit * 0.5;
  border: 0;

  background-color: transparent;
  color: $app-color-alpha;

  cursor: pointer;
}

.c-icon-button:hover {
  color: $app-color-alpha--dark;

  transition: color $small-transition-time;
}
