// Wrapping container for an image
// Relative so that inner image can set its size absolutely to fill this container
.c-image-loader {
  position: relative;

  width: 100%;
  height: auto;

  background-color: $color-grey;

  overflow: hidden;
}

// Absolutely positioned to fill parent container's space
// Display block solves image having text underhang
// Remove ability to bleed out of parent container
.c-image-loader__content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  display: block;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
}
