$circle-radius: 50%;

.c-input {
  position: relative;
}

// Visually hidden but still tabbable and accessible to screen readers etc
// See https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
.c-input__input {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px; width: 1px;
  margin: -1px; padding: 0; border: 0;
}

.c-input__label {
  position: relative;

  display: inline-block;
  padding-left: $ea-spacing-unit * 2;

  cursor: pointer;
}

.c-input__label::before {
  position: absolute;
  left: 0;
  top: 0;

  width: $icon-size;
  height: $icon-size;
  border-style: $border-style;
  border-width: $border-width;
  border-color: $border-color;

  background-repeat: no-repeat;
  background-position: center;
  background-size: 75%;
  color: $color--alpha;

  content: ' ';
}

.c-input__input[type=radio] +
.c-input__label::before {
  border-radius: $circle-radius;
}

.c-input__input:checked[type=radio] +
.c-input__label::before {
  background-color: #fff;
}

.c-input__input:checked[type=radio] +
.c-input__label::after {
  position: absolute;
  left: 0;
  top: 0;

  width: $icon-size * 0.5;
  height: $icon-size * 0.5;
  margin-top: $icon-size * 0.25;
  margin-left: $icon-size * 0.25;
  border-radius: $circle-radius;

  background-color: $background-color--alpha;
  content: ' ';
}

.c-input__input:checked[type=checkbox] +
.c-input__label::before {
  background-color: $background-color--alpha;
  background-image: url('data:image/svg+xml;base64,PHN2ZyBjbGFzcz0ibG4tYy1pY29uIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI0OTAuNDM0IiBoZWlnaHQ9IjQ5MC40MzMiIHZpZXdCb3g9IjAgMCA0OTAuNDM0IDQ5MC40MzMiIGZpbGw9IiNmZmZmZmYiID48cGF0aCBkPSJNNDcyLjAwMyA1OC4zNkw0NTguODcgNDcuMDc4Yy0yMS43OTctMTguNzMyLTU0LjU1My0xNi42NDQtNzMuNzk4IDQuNjk3TDE2NS4zOSAyOTUuMzZsLTY2LjMxMi01Ny4xMTNjLTIxLjc3NS0xOC43NTMtNTQuNTM2LTE2LjcwNy03My44MDQgNC42MWwtMTEuNjEgMTIuODVDNC4yNDYgMjY2LjExOC0uNjQzIDI3OS44NTQuMDY3IDI5My44ODZjLjcxNyAxNC4wMjIgNi45NzMgMjcuMTg3IDE3LjQwMiAzNi42bDEyMS41NTMgMTExLjMxYzEwLjUyNCA5Ljg4MyAyNC42MjggMTUuMDM3IDM5LjA0NCAxNC4yNzIgMTQuNDE2LS43NjQgMjcuODk0LTcuMzg3IDM3LjMxLTE4LjMzbDI2Mi4yNDYtMzA0LjcxYzkuMTYyLTEwLjY0NiAxMy43MTctMjQuNDk0IDEyLjY2LTM4LjQ5Ni0xLjA1NC0xNC4wMTItNy42MjgtMjcuMDIyLTE4LjI4LTM2LjE3NHoiIC8+PC9zdmc+');
}

.c-input__input:disabled +
.c-input__label::before {
  background-color: $background-color-disabled;
}

.c-input__input:disabled:checked +
.c-input__label::before {
  background-color: $background-color-disabled;
}

.c-input__input:disabled +
.c-input__label::before,
.c-input__input:disabled +
.c-input__label {
  cursor: not-allowed;
}
