// Provide a rounded, fat style
// Remove <select> tag styling with appearance: none
// Set down chevron background image on the right hand side
.c-select {
  display: block;
  width: 100%;
  padding: $ea-spacing-unit;
  border-radius: $form-border-radius;
  border-style: $form-border-style;
  border-color: $form-border-color;
  border-width: $form-border-width;

  appearance: none;
  background-repeat: no-repeat;
  background-size: $ea-spacing-unit * 1.3;
  background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMCA3LjMzbDIuODI5LTIuODMgOS4xNzUgOS4zMzkgOS4xNjctOS4zMzkgMi44MjkgMi44My0xMS45OTYgMTIuMTd6Ii8+PC9zdmc+');
  background-position: right $ea-spacing-unit * 0.5 top 50%;

  cursor: pointer;
}

// Remove down arrow styling on IE
select::-ms-expand {
  display: none;
}

.c-select:disabled {
  background-color: $app-color-disabled;

  cursor: not-allowed;
}

.c-select--small {
  padding: $ea-spacing-unit * 0.5;

  background-size: $ea-spacing-unit;
}
