.c-textbox {
  width: 100%;
  padding: $ea-spacing-unit;
  border-radius: $border-radius;
  border-width: $border-width;
  border-color: $border-color;
}

.c-textbox:disabled {
  background-color: $background-color-disabled;
}
