.c-textbox {
  width: 100%;
  padding: $ea-spacing-unit;
  border-radius: $form-border-radius;
  border-width: $form-border-width;
  border-color: $form-border-color;
}

.c-textbox:disabled {
  background-color: $app-color-disabled;
}
